[2017-01-18 08:30] homelessnessbo opened #2 "lock versions."
Good day to you!

Thank you for opensourcing!

I'd like to use your package, but I've got some troubles.

I've checkouted master branch and got:

`
../../git/go/src/github.com/crosbymichael/cgroups/cpuset.go:49: cannot use resources.CPU.Cpus (type string) as type *string in field value
../../git/go/src/github.com/crosbymichael/cgroups/cpuset.go:53: cannot use resources.CPU.Mems (type string) as ty

[2017-01-18 12:42] homelessnessbo commented on #2
Sorry, that's just README.md issue, firstly I thought it was `runtime-spec` package issue, but then I realized it was about outdated readme. Closing issue, please, take attention to https://github.com/crosbymichael/cgroups/pull/3

[2017-01-18 12:42] #2 closed

[2017-01-26 09:41] homelessnessbo opened #5 "bug: memory.memsw.usage_in_bytes : no such file or directory"
Hi there!

I have a problems with [Stat() ](https://github.com/crosbymichael/cgroups/blob/master/cgroup.go#L158)function in cgroups package:

Code example(approximately):
[code]

It's just a part of a code, but its quite simple for seeing the logic I go through.

But when I try to run it:
* Process that I expect to be moved into `cgroupName` is moved, it's ok.
* My code falls into panic with `/sys

[2017-01-26 18:09] crosbymichael commented on #5
First is the panic coming from your code or this cgroups package?  If its coming from the package can you post the stack and I can fix it or you can submit a PR if you have time.

To fix this fast you should be able to pass an error handler for the stats function.  This is one already in this package to ignore isnotexist errors.

[code]

You could also make your own ErrorHander func and pass to th

[2017-01-28 09:48] homelessnessbo commented on #5
oh,  `control.Stat(cgroups.ErrorHandler(cgroups.IgnoreNotExist))` did the trick! Thx, and sorry for taking your time with my inattention: didnt open `errors.go` file before.

[2017-01-28 09:48] #5 closed

[2017-01-28 09:50] homelessnessbo commented on #5
P.S. May be it's worthy to be noticed in README.md?

[2017-01-30 19:15] crosbymichael commented on #5
Ya, we can put an example in the readme

[2017-03-11 03:37] hjianhao opened #6 "compiled error"
When I build my example, there are many errors as follow:

../vendor/github.com/crosbymichael/cgroups/hugetlb.go:45: cannot use limit.Limit (type uint64) as type int64 in argument to strconv.FormatInt
../vendor/github.com/crosbymichael/cgroups/memory.go:67: cannot use resources.Memory.Limit (type *uint64) as type *int64 in argument to g
../vendor/github.com/crosbymichael/cgroups/memory.go:67: cann

[2017-03-11 07:30] homelessnessbo commented on #6
show example of code?

[2017-03-11 07:39] hjianhao commented on #6
func PauseAndResumeByCgroup(ctx context.Context, id string) {
	control, err := cgroups.Load(cgroups.V1, cgroups.StaticPath("/docker/"+id))

	if err != nil {
		panic(err)
	}

	var pauseTotal, resumeTotal int64 = 0, 0

	for i := 0; i < 100; i++ {
		start := time.Now()
		if err := control.Freeze(); err != nil {
			panic(err)
		}
		end := time.Now()
		pauseTotal += (end.Sub(start).Nanoseconds()) / 100

[2017-03-11 07:44] hjianhao commented on #6
I found that in hugetlb.go, code is that strconv.FormatInt(limit.Limit, 10), but the limit.Limit's type is uint64, so need strconv.FormatUint(limit.Limit, 10)

int64 and uint64 mismatched also found in memory.go.

I had modified the code, then compiled successful, you can check it.

[2017-03-13 18:31] crosbymichael commented on #6
This can be from changes in the spec.  We just released a final RC so this package will need to be updated with the spec changes.

[2017-03-14 23:30] crosbymichael commented on #6
Also, i'll add `vndr` to vendor the dependencies for this in a PR

[2017-03-16 17:54] crosbymichael commented on #6
I updated master with the dependencies vendored and changes for the runtime-spec rc5.  It should build for you now.

[2017-03-16 17:54] #6 closed

[2017-05-15 23:23] caniszczyk opened #10 "Switch license to ALv2"
This is part of CNCF now

[2017-05-15 23:25] crosbymichael commented on #10
Why?  What is wrong or invalid about MIT?

[2017-05-15 23:29] caniszczyk commented on #10
@crosbymichael nothing wrong with MIT, just that CNCF requires all CNCF projects to be under the ALv2 (unless we want to go for board approval): https://www.cncf.io/about/charter/

[2017-05-16 13:31] caniszczyk commented on #10
@crosbymichael here's a blog post we wrote earlier this year when gRPC moved from BSD to ALv2 with some more reasoning: https://www.cncf.io/blog/2017/02/01/cncf-recommends-aslv2/

[2017-05-17 22:21] crosbymichael commented on #10
Ok, thanks

[2017-06-26 21:12] #10 closed

[2017-07-04 09:20] hiroakis opened #19 "go get error"
When I run `go get github.com/containerd/cgroups`, I've got following errors. How do I resolve this?

[code]

* macOS Sierra 10.12.5
* uname -a
  * Darwin Hiroaki-no-MacBook-Pro-2.local 16.6.0 Darwin Kernel Version 16.6.0: Fri Apr 14 16:21:16 PDT 2017; root:xnu-3789.60.24~6/RELEASE_X86_64 x86_64
* go version
  * go1.8.3 darwin/amd64

[2017-07-04 09:48] dqminh commented on #19
Its because of `cgroups` is intended to be used/compiled on linux based system, so you cant `go get` it on macOS. If you want to get this for developing in a VM for example, i guess you can also clone the repo directly into your GOPATH.

[2017-07-05 05:47] hiroakis commented on #19
@dqminh Thank you for telling me. I understand this matter. I'll close the issue. Thx.

[2017-07-05 05:47] #19 closed

[2017-11-03 12:04] ThrosturX opened #33 "Systemd controller does not work in user space with Delegate=yes services"
According to the documentation for Systemd units, `User=` units should be able to control subhierarchies under its own control group path. I have been unable to get this functionality to work with this package.

Consider the following unit `mattdaemon.service` (remember to substitute `$USER` with a regular non-root user):

[code]

Assume `/path/to/binary` points to a binary build with `go build` c

[2018-03-06 01:17] elboulangero opened #38 "Copyright is missing"
Dear containerd authors,

I would like to package this library for Debian, however I couldn't find a copyright anywhere. This should be mentioned in the `LICENSE` file as well, right now the copyright line there is just a template.

https://github.com/containerd/cgroups/blob/d578e4e7f8b1ef8664eacd7311eebbe766b13091/LICENSE#L189

Thanks

[2018-03-07 16:48] #38 closed

[2018-03-23 21:28] adnxn opened #46 "tagged release versions"
Would it be possible to have tagged versioned releases for this repo? Is there a reason why we're explicitly choosing to not have versioned releases? LMK if it's just a matter of doing the work, I could make those changes.

I think it would improve ux for at least those projects using dep to manage containerd/cgroups as a dependency.

[2018-03-26 15:29] crosbymichael commented on #46
Ya, we can start tagging releases.  We have one open PR then I'll tag a new release when its merged in.

[2018-04-17 20:47] rkakrik opened #47 "cgroups: cgroup deleted"
Can't load cgroup with this code:
`control, err := cgroups.Load(cgroups.Systemd, cgroups.Slice("user.slice", "user-1000"))`
("/user.slice/user-1000.slice" exists)

[2018-04-18 13:44] rkakrik commented on #47
System: Archlinux
Kernel: 4.16.2
SystemD: 238.76
[code]

[2018-04-18 16:55] crosbymichael commented on #47
Ya.  It looks like there is a bug with now the slice name is concatenated.  You can see how it's adding `.slice` to your `user-1000`.

[2018-04-23 11:49] vickeykumar opened #48 "getting Error: write /sys/fs/cgroup/cpuset/test/cgroup.procs: no space left on device"
I am getting following error while adding pids to the cgroup created:

[code]

Now while adding the pid to the cgroup it gives error:

[code]

Error:

`Error while adding process : 19374 to cgroups: write /sys/fs/cgroup/cpuset/test/cgroup.procs: no space left on device`

When I checked  "/sys/fs/cgroup/cpuset/test/" itself is not created.

[2018-04-23 16:15] crosbymichael commented on #47
Ya.  It looks like there is a bug with now the slice name is concatenated.  You can see how it's adding `.slice` to your `user-1000`.

[2018-04-24 15:50] crosbymichael commented on #47
@rkakrik what do you think about changing the function to take the fully path?  it breaks the api but since it's already broken it seems like the best long term fix for this issue.

[2018-05-10 06:04] jingxiaolu opened #49 "Add a new Cgroup interface AddTask()?"
Hi Containerd Authors,

In interface Cgroup we only have [`Add(Process)`](https://github.com/containerd/cgroups/blob/07683a668a6c20f509112ea932da7e4ca98c7c3f/control.go#L52), which operates on [`cgroup.procs`](https://github.com/containerd/cgroups/blob/07683a668a6c20f509112ea932da7e4ca98c7c3f/cgroup.go#L130).
Sometimes we want to set tasks (thread ID), but now no interface can be used.

I propose

[2018-05-11 03:48] jingxiaolu commented on #49
@crosbymichael thanks a lot!
PR is ready now at [#50](https://github.com/containerd/cgroups/pull/50), please help to review ~

[2018-05-15 17:50] #49 closed

[2018-05-23 12:27] AnushaY1 commented on #47
i am also facing same issue
control, err := cgroups.Load(cgroups.Systemd, cgroups.Slice("system.slice", "sshd.service"))

[2018-05-24 19:55] crosbymichael commented on #47
@AnushaY1 @rkakrik the bug is happening here: https://github.com/containerd/cgroups/blob/master/systemd.go#L57

If one of you want to try to fix it and test that would be helpful.  It should be pretty straightforward.

[2018-08-20 14:44] #47 closed

[2018-09-05 04:57] pmarkowsky commented on #48
@vickeykumar you're getting this error because the you haven't assigned any memory nodes to your cgroup. The example code sadly omits this, as the spec object uses strings, so the defaults are "" rather than zero. To make this work I had to do make the call to `cgroups.New` like so:

[code]

[2018-09-17 18:00] mback2k opened #55 "Cannot develop on Mac OS X due to OS dependency"
Working with Visual Studio Code on OS X during development leads to the following errors:

[code]

Would it be possible to make these declarations optional during development on another plattform?

[2018-09-17 18:10] crosbymichael commented on #55
Hi, thanks for making the issue instead of just changing it ;)

Humm, this is kinda tricky because cgroups are linux only so I'm not sure we want to modify code to support a development usecase like this.  Not that we wouldn't love your contributions, it just feels a little off to me to change a linux only codebase to support OSX, only for development.

[2018-09-17 18:15] mback2k commented on #55
Hi, thanks for your response. This makes total sense, I just have to figure out how to tell the VSCode toolchain to use GOOS=linux for linting and testing. :)

[2018-09-17 18:15] #55 closed

[2018-09-17 18:18] crosbymichael commented on #55
@mback2k thanks for being understanding.  Let me know if you need anything else.

[2018-10-19 09:06] ChrsMark opened #58 "Very strict checking of subsystems' existence while loading cgroup"
Trying to load the Cgroup of a running container using https://github.com/containerd/cgroups/blob/master/cgroup.go#L50 I am getting an error:

[code]

The code that produces this error is:

[code]

Diving in I notice that the cgroup path actually does not exists under rdma subsystem while on others like cpu exists:

[code]

Moreover trying with a container that is running for big enough period see

[2018-10-24 14:22] crosbymichael commented on #58
Ya, I think we can improve on this.  Especially with the new rdma code.  Feel free to send a PR and we can work from there.

Thanks @ChrsMark !

[2018-12-11 20:20] thaJeztah opened #74 "containerd fails to detect OOM events in kernel 4.19+"
As reported in https://github.com/moby/moby/issues/38352 by @Farrukh-Aftab  (thanks!), containerd fails to detect OOM events on kernel 4.19, likely related to the following changes in the kernel; I'll copy the information here;

**Description**
Hello,

Apologies if the reported bug is a duplicate of another issue. I tried searching through the issues but didn't find anything similar.

There were s

[2018-12-11 20:21] thaJeztah commented on #74
/cc @crosbymichael

[2018-12-21 14:51] holzman commented on #74
Hi,

This is a kernel bug introduced in v4.19, but not from the commits Farrukh referenced, but https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=29ef680a -- this broke cgroupvs-v1 eventfd notification completely for OOM events.

I have notified the appropriate kernel maintainers.

[2018-12-21 16:08] thaJeztah commented on #74
Thanks @holzman - appreciated!

[2019-01-02 20:07] Farrukh-Aftab commented on #74
A patch to fix this was accepted last week: https://github.com/torvalds/linux/commit/7056d3a37d2c6aaaab10c13e8e69adc67ec1fc65

Looks like it'll make it into the next release. Thank you @holzman !

[2019-01-16 16:08] Farrukh-Aftab commented on #74
This has been fixed in version 4.20.2-1. The issue can be closed. Thanks!

[2019-01-16 17:24] #74 closed

[2019-02-06 15:25] point-free commented on #5
I'm running into the same issue. If you pass `cgroups.ErrorHandler(cgroups.IgnoreNotExist)`, won't that prevent the rest of the memory stats from being read (e.g. `kmem` and `kmem.tcp`)? It seems like we'll return as soon as we hit a single error: https://github.com/containerd/cgroups/blob/master/memory.go#L163

[2019-02-13 19:44] tonistiigi opened #76 "unable to find * in controller set: unknown"
There are problems with this library handling missing cgroups or the way they are mounted. The unhandled configuration seems to become common with new systemd.

These issues list the output of mount and proc in the affected systems:

https://github.com/docker/for-linux/issues/545
https://github.com/docker/for-linux/issues/552

@crosbymichael

[2019-02-13 19:50] crosbymichael commented on #76
ok, do you have a good way to reproduce this?  some cloud vm?

[2019-02-13 21:58] tonistiigi commented on #76
I don't. The issues above have descriptions of setups where users have hit this. @andrewhsu did you try/manage to reproduce this?

[2019-02-18 21:12] ranisalt commented on #76
It fails as described on a clean Arch Linux install with up to date systemd (v240 or v241).

[2019-02-26 20:04] #76 closed

[2019-03-21 12:55] Rid opened #78 "blkio stats empty for zfs on kernel 5.x"
I have two docker instances on the same server, both using:
`Docker version 18.09.3, build 774a1f4`

and

`containerd github.com/containerd/containerd 1.2.4 e6b3f5632f50dbc4e9cb6288d911bf4f5e95b18e`

Kernel:
`5.0.1-050001-generic`

One is using overlay2, the other is using zfs as the graph driver. The instance on overlay2 is running fine, however the zfs instance is not reporting blkio stats:
[cod

[2019-04-12 07:21] ZeroMagic opened #80 "Add network metrics"
When we use containerd to run our applications, we can not collect the network metrics about containers. Can we add the network metrics into metrics.proto?

[code]

ping @crosbymichael

[2019-04-12 18:18] crosbymichael commented on #80
Where are these metrics going to come from?

[2019-04-15 02:45] ZeroMagic commented on #80
@crosbymichael
Currently KataContainers collect the metrics from [libcontainer Stats() API](https://github.com/opencontainers/runc/blob/master/libcontainer/container_linux.go#L175).

The libcontainer Stats() API has collected the network metrics. However KataContainers do not transfer the network metrics now. I will propose a similar issue in KataContainers community.

Then the network metrics wil

[2019-04-15 20:53] crosbymichael commented on #80
The reason why I kept network stats out of this pkg is because a lot of the network stats come from `/sys` and not cgroups

[2019-04-16 02:01] ZeroMagic commented on #80
I got it. Where do you think I should add network stats?
Sincerely looking forward to some guidance.

[2019-05-19 05:36] chenliu1993 opened #83 "Cgroup deleted: stream copy error:file /proc/self/fd/** already closed in kind"
Description
Tried to run kubernetes-in-docker(kind) image under OS version 4.9.137. the kind image can be started-up with "run --privileged". But once I tried to start some other images like etcd and apiserver inside the kind container. It gave me error like:"
level=error msg="stream copy error: read /proc/self/fd/23: file already closed"

Steps to reproduce the issue:

ctr -n moby run --privilege

[2019-05-19 05:36] chenliu1993 commented on #83
Noticed that error messege""cgroup does not exist: not found". But I have already mounted using --mount type=cgroup,dst=cgroup and there was one cgroup dir under /sys/fs/cgroup. And I "df"ed /sys/fs/cgroup inside kind , I found that /sys/fs/cgroup is mounted as tmpfs like CentOs did but /sys/fs/cgroup/cgroup was mounted as cgroup while on CentOS there was no cgroup under /sys/fs/cgroup

[2019-05-20 02:08] chenliu1993 commented on #83
solved. Because all cgroup/subsystem is mounted as one.

[2019-05-20 02:08] #83 closed

[2019-06-11 07:57] woshijpf opened #87 "provide build metrics.proto guide in README?"
I want to add some Stats struct in metrics.proto file and generate a new metrics.proto.go file, however, I can not find Makefile or any guide or steps to introduce how to compile proto file, can anybody provide some guide?

[2019-06-13 13:17] FlyingOnion opened #89 "Is it possible for a non-root user to execute?"
It seems that the program only works when the current user is root or using sudo, but I want to launch it in the IDE directly. Anyone has ideas?

[2019-06-13 14:38] crosbymichael commented on #89
You need to be root to modify cgroups or chown a subdir of the hierarchy to modify it as non-root .

Will close this one for not as it's not a bug of this lib but feel free to ask additional questions here.

[2019-06-13 14:38] #89 closed

[2019-06-21 17:57] crosbymichael commented on #87
@woshijpf I opened up a PR to add a makefile that will generate the protos for you.  You will need protobuild and protobufs installed to do this.

[2019-06-24 03:56] #87 closed

[2019-07-22 14:28] Boxjan opened #94 "undefined: specs.LinuxRdma in rdma.go:48"
Hi,
When I run ``` go build .```, it throw the problem
[code]

Here is my code
[code]

And here is my go env

[code]
- System: Ubuntu 18.04
- kernel: Linux THENAME 4.15.0-52-generic #56-Ubuntu SMP Tue Jun 4 22:49:08 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

I use go mod to manage the module.

[2019-07-22 14:37] crosbymichael commented on #94
This is probably from an old version of the runtime-spec repo.  You may need to update your vendoring with go mod.  try grabbing master

[2019-07-22 16:04] Boxjan commented on #94
The problem is solved, thank you so much.

[2019-07-22 16:04] #94 closed

[2019-08-09 19:57] thaJeztah commented on #80
@ZeroMagic with https://github.com/containerd/cgroups/pull/81 merged; is this one ready too close?

[2019-08-10 00:51] #80 closed

[2019-08-15 08:10] ochprince commented on #83
I have found the problem too, but how to solve it? I still comfused about it. If it not bother you, wish you can reply.

[2019-08-15 08:50] chenliu1993 commented on #83
I just remount the cgroup fs accordin to how centos mounts the cgroup. You can remount cgroup according to this list:
#subsys_name	hierarchy	num_cgroups	enabled
cpuset	2	1	1
cpu	6	68	1
cpuacct	6	68	1
blkio	3	68	1
memory	10	602	1
devices	7	68	1
freezer	11	1	1
net_cls	5	1	1
perf_event	9	1	1
net_prio	5	1	1
hugetlb	4	1	1
pids	12	71	1

You only need to focus on the "hierachy column", same number means

[2019-08-16 21:23] rhrn commented on #83
Update `/etc/default/grub` by
[code]
solve for me

Source https://wiki.alpinelinux.org/wiki/Docker

[2019-09-04 18:24] fiws opened #95 "can not install with go modules"
[code]

This is with go 1.13

[2019-09-11 14:56] #46 closed

[2019-09-11 15:02] AkihiroSuda commented on #95
#82

[2019-09-11 15:02] #95 closed

[2019-09-23 15:59] mariomac commented on #5
The changes introduced in this PR should help dealing with this issue: https://github.com/containerd/cgroups/pull/98

[2019-10-15 14:19] thuibr commented on #83
This solves the `stream copy error: read /proc/self/fd/62: file already closed` issue specifically? I do not see `cgroup_enable` as a kernel command line option for [v4.15](https://www.kernel.org/doc/html/v4.15/admin-guide/kernel-parameters.html) kernel, which is what our Ubuntu Bionic is running. I do see `swapaccount=1` though. Thanks!

[2019-10-21 11:07] dean2021 opened #101 "undefined: specs.LinuxRdma"
# go get -v github.com/containerd/cgroups@master

go: finding github.com/containerd/cgroups master
github.com/containerd/cgroups
# github.com/containerd/cgroups
/root/go/pkg/mod/github.com/containerd/cgroups@v0.0.0-20191011165608-5fbad35c2a7e/rdma.go:49:45: undefined: specs.LinuxRdma
/root/go/pkg/mod/github.com/containerd/cgroups@v0.0.0-20191011165608-5fbad35c2a7e/rdma.go:68:38: resources.Rdma und

[2019-10-21 23:32] paravmellanox commented on #101
@dean2021 didnt get a chance to look at it. Will see tomorrow.
Suspect is the runtime-spec version might not be upto date leading to this error.

[2019-10-31 08:13] AkihiroSuda opened #104 "cgroup2: check list for v2 controller implementations"
## Urgent (required to get CRI and Moby work)
- [x] pids: #103
- [x] cpu: #107
- [x] memory (`memory.stats`): #108 @Zyqsempai
- [x] `memory.current`, `memory.swap.current`, and other memory stat files  https://www.kernel.org/doc/Documentation/cgroup-v2.txt : #117
- [x] OOM event FD: #115
- [x] io: #112
- [x] devices (BPF): #116
- [x] `ToggleControllers()` (issue: https://github.com/containerd/cgro

[2019-11-01 18:28] Zyqsempai commented on #104
@AkihiroSuda Can I help you somehow on this one?

[2019-11-02 02:08] AkihiroSuda commented on #104
thanks, which do you plan to work on?

[2019-11-02 05:25] Zyqsempai commented on #104
@AkihiroSuda I will take memory part if you don't mind.

[2019-11-02 06:06] AkihiroSuda commented on #104
thanks, please open PR when #103 gets merged

[2019-11-04 15:49] AkihiroSuda commented on #104
#103 merged

[2019-11-05 12:14] Zyqsempai commented on #104
@crosbymichael So what do you have in plans? Should I open PR with the next part(memory) ? add then we will add a manager above it?

[2019-11-05 12:32] crosbymichael commented on #104
@Zyqsempai sure, go ahead and open more if you still have more coming.

Thanks!

[2019-11-05 17:44] Zyqsempai commented on #104
Guys, I will also take the rest if you don't mind!

[2019-11-06 05:27] paravmellanox commented on #101
@dean2021 sorry for my late reply.
May be your cache id old, or something got fixed?

I was able to follow the steps and dont face any compile errors.

[2019-11-08 16:13] Zyqsempai commented on #104
So guys, let's summarize what we still have to do here?

[2019-11-08 17:48] crosbymichael commented on #104
We need OOM notifications from the memory controller as well as the bpf devices code added to this repo

[2019-11-09 02:52] AkihiroSuda commented on #104
Do we need devices controller for CRI and Moby?

[2019-11-11 16:37] Zyqsempai commented on #104
@crosbymichael @AkihiroSuda I will take OOM notifications and bpf devices.

[2019-11-12 16:39] crosbymichael commented on #104
@AkihiroSuda i don't want to put out any cgroups code without device support as it's very important to security

[2019-11-13 13:59] Zyqsempai commented on #104
@AkihiroSuda For `bpf` implementation, can i rely on your `bpf` implementation for `runc`?
https://github.com/opencontainers/runc/tree/master/libcontainer/cgroups/ebpf

[2019-11-13 14:10] AkihiroSuda commented on #104
Yes, please

[2019-11-14 08:29] Zyqsempai commented on #104
@AkihiroSuda @crosbymichael Which memory stats should we add?
`memory.current`, `memory.max`, `memory.swap.current`, `memory.swap.max` will be enough?

[2019-11-14 08:41] AkihiroSuda commented on #104
yes

[2019-11-14 08:42] Zyqsempai commented on #104
Good, then i will take it.

[2019-11-14 13:58] Zyqsempai commented on #104
Hey guys, In next PR's i will work on `perf_event` and `rdma`

[2019-11-15 18:30] AkihiroSuda opened #121 "v2: ToggleControllers() should toggle ancestors of c.path, not c.path itself"
https://github.com/containerd/cgroups/blob/e56683d3d5a15abdea66d7511b5e16083da2f594/v2/manager.go#L192

`ToggleControllers()` should toggle ancestors of `c.path`, not `c.path` itself.

e.g. when `c.path` is like `/foo/bar/baz`, the following files need to be written:
* `/sys/fs/cgroup/foo/cgroup.subtree_control`
* `/sys/fs/cgroup/foo/bar/cgroup.subtree_control`

Note that `/sys/fs/cgroup/foo/bar/b

[2019-11-15 18:31] AkihiroSuda commented on #121
Aside from this, `ToggleControllers()` should return `map[string]error` rather than just single `err`.

[2019-11-15 18:35] crosbymichael commented on #121
Noooo, map[string]error is a horrible ux, there are better ways to handle this

[2019-11-15 18:53] AkihiroSuda commented on #121
like this then?

[code]

[2019-11-18 20:40] #121 closed

[2019-11-20 22:04] AkihiroSuda opened #128 "v2: mem.Reservation conversion is wrong"
https://github.com/containerd/cgroups/blob/9e089962ffffaeb9281c22c14bdb77b59852f7a1/v2/utils.go#L191

This should be converted into `memory.low`, not `memory.high`
ref: https://github.com/containers/crun/pull/188/files

[2019-11-25 08:46] Zyqsempai commented on #128
I will fix it!

[2019-11-25 13:26] #128 closed

[2019-12-13 11:50] xianlubird opened #132 "How to modify root path /sys/fs/cgroup"
I find that the default path is /sys/fs/cgroup

If I run cgroups process in contaienr and mount host cgroups into container ,how should I change the `/sys/fs/cgroups` to another path like `/mycontainer/sys/fs/cgoups`

[2019-12-16 12:58] Zyqsempai opened #133 "Set $PERIOD in cpu.max"
In documentation we have next description for `cpu.max`
[code]
Currently we updating only $MAX, do we care about $PERIOD at all? If so I will open corresponding PR.

[2019-12-16 13:07] Zyqsempai commented on #132
Something like this for `cgroupv1`:
`control, err := cgroups.New(cgroups.V1, cgroups.StaticPath("/mycontainer/sys/fs/cgoups"), nil)`
and for `cgroupv2`:
`c, err := v2.NewManager("/mycontainer/sys/fs/cgoups", "group-name", nil)`

[2019-12-16 15:31] crosbymichael commented on #133
Yes, we need to have period supported

[2019-12-19 15:54] #133 closed

[2020-01-02 18:13] oschwald opened #136 "Upgrade github.com/coreos/go-systemd to v22"
This project currently depends on a version of `github.com/coreos/go-systemd` that didn't use Go modules. This led to the following error when doing a `go get -u all ./...`:

[code]

I think this could be resolved by updating to v22, which uses Go modules.

[2020-01-06 16:49] #136 closed

[2020-01-09 07:40] AkihiroSuda opened #139 "The package cannot be vendored with `vndr` (regression in #137)"
`vndr` omits the go-systemd package when `github.com/coreos/go-systemd` is specified in `vendor.conf`, due to the regression in #137.

`vendor.conf`:
[code]

`vndr` output:
[code]

If `github.com/coreos/go-systemd/v22` is specified in `vendor.conf` instead, `vndr` fails as follows:
[code]

`vndr` version: LK4D4/vndr@d87a91749c025d1154ae4ebbf228226c7d5423a7

[2020-01-09 07:41] AkihiroSuda commented on #139
cc @Zyqsempai @LK4D4

[2020-01-09 08:16] thaJeztah commented on #139
Shouldn't those upstream packages use a `/vX` subdirectory?

[2020-01-09 08:25] AkihiroSuda commented on #139
Seems they intentionally chose not to use subdir https://github.com/coreos/go-systemd/pull/307#issuecomment-501633925

[2020-01-09 08:44] thaJeztah commented on #139
Yeah; they'd still have to update import paths with each release though. I guess go mod is gonna be a pain whichever way.

Curious though; was it a deliberate choice to use both v1 and v5 of the `godbus/dbus` package in this repository? I see that this file did not move to v5; https://github.com/containerd/cgroups/blob/fe689749600616370376829ff953d126d2d9abba/v2/utils.go#L31

Also wondering if mov

[2020-01-09 08:46] AkihiroSuda commented on #139
Kubernetes didn't bumo major

[2020-01-09 08:48] thaJeztah commented on #139
Does kubernetes actually use SemVer, or only "fake SemVer for the sake of go modules?" (as many packages)

[2020-01-09 09:25] AkihiroSuda commented on #101
I assume this issue is closable. Please try vendoring the latest revision.

[2020-01-09 09:25] #101 closed

[2020-01-09 10:57] AkihiroSuda commented on #139
Fix for vndr: https://github.com/LK4D4/vndr/pull/87

[2020-01-09 11:01] thaJeztah commented on #139
🤗 LOL _literally_ just now opened vndr in my IDE to see if I could fix it there 😂

[2020-01-09 19:04] #139 closed

[2020-01-10 04:01] AkihiroSuda commented on #139
This is fixed in vndr v0.1.0

[2020-01-15 13:38] Zyqsempai opened #142 "CgroupV2: BlkioWeight is not converted properly"
In https://github.com/containerd/cgroups/blob/master/v2/utils.go#L205 we should properly convert blkioWeight to io.weight according to https://github.com/containers/crun/blob/master/crun.1.md#blkio-controller

[2020-01-16 17:07] #142 closed

[2020-02-06 14:00] #132 closed

[2020-02-06 14:01] #48 closed

[2020-03-06 14:12] yanchuang12 opened #148 "call control.Delete() occur err=cgroups: unable to remove path "/sys/fs/cgroup/devices/test""
I write a  test，when I call control.Delete() ， it occur error：
err=cgroups: unable to remove path "/sys/fs/cgroup/devices/test"
 inside
err= unlinkat /sys/fs/cgroup/devices/test/tasks: operation not permitted
I don't know why， when i remove control.Add(cgroups.Process{Pid: 1234})， it has not error。
thanks

[2020-03-06 15:58] AkihiroSuda commented on #148
Adding `os.Remove()` before `os.RemoveAll()` solves the issue?

https://github.com/containerd/cgroups/blob/10dcde236e523a22c2f9f0013f7ebb8e4a065a5e/utils.go#L153

[2020-03-09 22:05] AkihiroSuda opened #149 "cgroup2: support statting memory.events*"
The PR for `docker stats` (https://github.com/moby/moby/pull/40657) require `containerd/cgroups` support for `memory.events*`.

**EDIT**: What we can add now seems only `FailCnt`, and this is not urgent (not used by `docker` CLI)

[2020-03-10 07:14] Zyqsempai commented on #149
I will work on this!

[2020-03-10 09:15] AkihiroSuda commented on #149
@Zyqsempai  What we can add now seems only FailCnt, and this is not urgent (not used by docker CLI)

[2020-03-10 13:47] Zyqsempai commented on #149
@AkihiroSuda As far as I can see in cgroupv2  `memory.events -> max` can be interpreted as memory.FailCnt, what do you think?

[2020-03-10 16:20] AkihiroSuda commented on #149
Seems yes

[2020-03-19 18:05] markzhang0928 opened #152 "cgroup2: failed to create a new cgroup"
when I create a new cgroup by using cgctl, it returns nil pointer dereference as follows:

[code]

https://github.com/containerd/cgroups/blob/master/v2/manager.go#L189
https://github.com/containerd/cgroups/blob/master/cmd/cgctl/main.go#L80

[2020-03-21 04:05] dcantah opened #153 "Support for other memory cgroup notifications (v1)"
Is there a reason why the oom notification is the only one currently implemented for memory cgroups in v1? I believe memory.usage_in_bytes, memory.memsw.usage_in_bytes and memory.pressure_level all support the notification API as stated in https://www.kernel.org/doc/Documentation/cgroup-v1/memory.txt. I can make a pr to add support for these if its not blocked by something.

[2020-03-27 17:56] AkihiroSuda commented on #153
Contribution is appreciated

[2020-03-27 17:57] AkihiroSuda commented on #152
ping @Zyqsempai

[2020-03-27 20:57] dcantah commented on #153
Cool I'll work on it

[2020-03-30 09:30] dcantah commented on #153
https://github.com/containerd/cgroups/pull/154

[2020-04-02 06:59] gzg1984 commented on #136
how to update mannually? I met same problem

[2020-05-06 00:48] #153 closed

[2020-05-06 12:33] y0zg opened #157 "dep init error for containerd/cgroups/v2"
Hello,
I got the error while running `dep init -v -no-examples`, please suggest how to deal with this

OS VERSION="18.04.4 LTS (Bionic Beaver)"

[code]

[code]

[2020-05-08 08:05] AkihiroSuda commented on #157
The issue is on dep side and yet Go 1.8 is unsupported.
Please use Go 1.13. (1.14 is too new)

[2020-05-08 08:05] #157 closed

[2020-05-08 08:39] y0zg commented on #157
@AkihiroSuda thanks, when you are going to support Go 1.14? Seems this is the root cause

[2020-05-28 19:50] mikebrow commented on #152
hey.. have a new contributor learning the ropes he was going to try to push a pr for this one seems straight forward.

[2020-05-29 13:32] mikebrow commented on #152
@markzhang0928 issue is resolved by #162

[2020-05-29 13:32] #152 closed

[2020-05-31 16:14] #149 closed

[2020-05-31 16:23] #104 closed

[2020-06-08 05:07] AkihiroSuda opened #164 "DCO check isn't working"
We should have DCO checking like this:
https://github.com/containerd/go-cni/blob/0553354f0046ccd41a02e724826040491a3d8998/.travis.yml#L18

[2020-06-08 13:42] estesp commented on #164
Looks like adding the matrix entry that does the v2 test via travis+vagrant is somehow skipping the existing "`script:`" section which already had a working DCO check.

I might take a stab at switching this repo over to GH actions since you've done the work to get Vagrant up under GH actions+MacOS instance.

[2020-06-09 13:29] #164 closed

[2020-07-31 23:28] vermavis opened #176 "stats/v1: Missing memory.oom_control fields"
Hi,

I am playing with containerd package in our environment which is configured with cgroupv1. In our environment, we would like to have oom_kill metric from memory.oom_control to understand the # of times a process under a given cgroup has been killed due to oom. I notice we do have memory.events fields of the memory controller already taken care of in v2/stats. However, if someone is still usin

[2020-08-03 06:48] vermavis commented on #176
I took a stab at solving this in this PR: https://github.com/containerd/cgroups/pull/177
If someone could please help review it, that would be great. Also, I wouldn't be surprised if I missed some pieces. Looking forward to the review. Thanks in advance.

[2020-08-09 10:33] James4Deutschland opened #178 "Typo found in one of this project's tags"
Please change **llinux** into **linux**.

[2020-08-10 13:36] estesp commented on #178
Fixed, thanks!

[2020-08-10 13:36] #178 closed

[2020-08-17 15:24] #176 closed

[2020-08-21 14:09] pavolloffay opened #179 "Example usage in container"
Hi,

sorry for creating an issue but I didn't know where to ask a quesiton.

Can this library be used in a running container to get cgroups memory limits? I would like to get value of `/sys/fs/cgroup/memory/memory.limit_in_bytes`. Probably it's not safe to read that file directly hence I would like to use this lib to get the `memory_limit_in_bytes`.

How should be the cgroups created?
[code]

Crea

[2020-08-26 12:14] pavolloffay commented on #179
cc) @estesp @crosbymichael @Zyqsempai @AkihiroSuda

[2020-09-23 05:59] oikomi opened #181 "cgroup path is read-only file system"
[root@localhost cgctl]# uname -ar
Linux localhost.localdomain 4.18.0-193.19.1.el8_2.x86_64 #1 SMP Mon Sep 14 14:37:00 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

[harold@localhost cgroups]$ sudo mount | grep cgroup
tmpfs on /sys/fs/cgroup type tmpfs (ro,nosuid,nodev,noexec,seclabel,mode=755)
cgroup on /sys/fs/cgroup/systemd type cgroup (rw,nosuid,nodev,noexec,relatime,seclabel,xattr,release_agent=/us

[2020-09-23 06:57] #181 closed

[2020-11-23 04:46] uppercaveman opened #186 "Unable to control"
#!/bin/sh

echo "start"
echo "scale=50000; 4*a(1)" | bc -l -q
echo "end"

When executing shell scripts, "bc -l -q" is always 100%
![image](https://user-images.githubusercontent.com/4667056/99929867-cc857580-2d89-11eb-846a-e9edd5124017.png)

Is the child process out of control？

[2020-11-23 04:48] uppercaveman commented on #186
env :  CentOS Linux release 7.8.2003 (Core)

[2020-12-11 00:43] AlvinKuruvilla opened #188 "MemoryThresholdEvent function incorrect return type"
In the memory.go why does the MemoryThresholdEvent() function return a MemoryEvent and not a memoryThresholdEvent as the documentation above seems to suggest it would?

[2020-12-11 00:46] AlvinKuruvilla commented on #188
https://github.com/containerd/cgroups/blob/4cbc285b33272039927a0b066d3412799db8de14/memory.go#L36-L48

[2021-01-25 08:52] dcantah commented on #188
@AlvinKuruvilla Poor wording on my part. All of the `Memory___Event` functions return a `MemoryEvent` interface so they can all be registered via the memory controllers `memoryEvent` method. I can push a fix to make this more clear (unless you already have a branch with a fix 😋).

[2021-01-28 04:15] AlvinKuruvilla commented on #188
Okay sounds good
I will definitely try to get a PR for this soon
I assume adding a little more details to all of the comments on each of the Memory___Event functions and the MemoryEvent interface is good enough?

[2021-01-28 12:56] dcantah commented on #188
Yep, that sounds perfect!

[2021-02-03 16:03] AlvinKuruvilla commented on #188
Just created a PR: #190
The CI tests seem to be failing though, not sure why.

[2021-02-15 11:49] yogihardi commented on #186
hi @uppercaveman ,

i am not sure if our case are similar, but, i am able to limit the cpu usage by setting the `Quota` and `Period` (https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/6/html/resource_management_guide/sec-cpu)

[code]

[2021-08-14 20:36] bwplotka commented on #89
Happy to share some code I used to generate programmatically the command that user has to run in order to get not-root permissions to manage cgroups using this project:

[code]

[2021-08-24 16:05] edigaryev commented on #179
You should just use `cgroups.RootPath` instead of `cgroups.NestedPath("")` then.

[2021-09-07 11:01] linrl3 opened #205 "cgroups.go: Panic on nil interface"
https://github.com/containerd/cgroups/blob/main/cgroup.go#L330

If we pass a subsystem that doesn't exist into `func (c *cgroup) Processes(subsystem Name, recursive bool)`, we would get a panic: interface conversion: interface is nil, not cgroups.pather.

Could I make a patch here to check nil interface before we convert it? Just return error instead of panic.

[2021-09-07 11:13] fuweid commented on #205
I think the line 326 can guarantee that subsystem should exist.

[2021-09-07 12:03] linrl3 commented on #205
@fuweid My code `main.go` was as below.
[code]

Then you can run and got the panic:
[code]

[2021-09-07 13:02] fuweid commented on #205
Hmm. The StaticPath doesn't check the path. We can fix with returning ErrControllerNotActive if it is nil. Could you mind to file pr to fix it? Thanks

[2021-09-07 13:04] linrl3 commented on #205
Sure. Will do it in a few days 👌

[2021-09-08 03:33] linrl3 commented on #205
Hi @fuweid,

Please review the PR https://github.com/containerd/cgroups/pull/206. Thank you!

[2021-09-09 15:20] fuweid commented on #205
close by #207

[2021-09-09 15:21] #205 closed

[2021-10-20 08:40] c3d opened #209 "Document basic operations for V1, V2 and system cases"
In the context of kata containers, I am trying to figure out how to write code that works both for legacy and unified mode. I did not find any good example of that, and I was wondering if it is documented anywhere. If not, maybe it would be nice to update the readme and other examples with code for both cases?

Also, am I correct in understanding that the module does not presently abstract away re

[2022-02-17 18:59] kzys opened #222 "Use Cirrus CI instead of Linux-on-macOS hack"
https://github.com/containerd/containerd/issues/6542

Maybe we should do the same here?

[2022-02-17 19:16] estesp commented on #222
Definitely possible if we need to; cgroups v2 tests are much less intensive than the containerd overall project. My PR that just updated Go and the Fedora version ran vagrant + tests in 3 minutes (compared to ~35-40 minutes for all the setup and tests in the core containerd project CI).

If it gets flakier then maybe we should consider, but I don't think we've had as much issue here until the ones

[2022-02-17 19:19] kzys commented on #222
Yeah. It is surprising to see #223 worked just fine. Maybe our VM was too small?

Regarding GitHub Actions, we might be able to use https://docs.github.com/en/actions/hosting-your-own-runners/about-self-hosted-runners as well.

[2022-02-24 11:26] hayou commented on #83
I have this error :

I did what you said, and it solved my problem.
Thanks a lot Bro

[2022-04-11 22:31] jseba opened #229 "Support `cgroup.kill` in cgroupv2 manager"
Kernel 5.14 added support for a `cgroup.kill` file in cgroupv2; writing "1" to this file will immediately send SIGKILL to all processes in that cgroup hierarchy.

I have a local change to support this feature in this library but I wasn't sure which way would be the preferred method. I'm currently checking the kernel release information from `uname(2)` to see if the kernel version has the feature,

[2022-06-06 03:43] yaoyinnan opened #234 "Cgroup v2: Support cgroup.MoveTo in cgroupv2 manager"
Provides a method for the cgroup v2 manager to support moving processes to a specified cgroup.

[2022-06-25 03:54] #234 closed

[2022-07-01 11:17] yaoyinnan opened #238 "Add PropSlice(slice) when slice has suffix .scope"
In NewSystemd, if the slice ends with .scope, we put into a Slice=PropSlice(slice).

refer to: https://github.com/opencontainers/runc/blob/main/libcontainer/cgroups/systemd/v2.go#L262

[2022-08-16 23:10] kzys commented on #222
Resolved by https://github.com/containerd/cgroups/pull/237.

[2022-08-30 21:28] #222 closed

[2022-09-09 08:43] #238 closed

[2022-09-09 08:48] yaoyinnan opened #242 "Support cgroup.AddThread in cgroupv2 manager"
In threaded mode, we need to add thread id to cgroup.threads. Currently, the manager of cgroupv2 does not support AddThread().

[2022-09-20 08:25] gaohuatao-1 opened #244 "Hugetlb subsystem can not limit hugetlb reservations"
Brief summary of hugetlb subsystem control files:
hugetlb.<hugepagesize>.rsvd.limit_in_bytes            # set/show limit of "hugepagesize" hugetlb reservations
hugetlb.<hugepagesize>.rsvd.max_usage_in_bytes        # show max "hugepagesize" hugetlb reservations and no-reserve faults
hugetlb.<hugepagesize>.rsvd.usage_in_bytes            # show current reservations and no-reserve faults for "hugepage

[2022-09-20 19:26] #242 closed

[2022-10-18 02:39] lanqsh commented on #83
reconf `max_replies_per_connection =  100000` solves for me
[code]

[2022-11-07 16:13] kzys opened #253 "Release 1.2.0 and 2.0.0"
This package has release/1.0 (the last commit was 2018) and release/1.1 (the last commit was 2020), but we haven't used these release branches and cut 1.0.x releases from main.

In order to maintain gogo version and gogo-free version, I'd like to cut `release/1.2` branch from fe7323f and backport bug fixes from `main`. After that, `main` will become essentially `2.0` branch.

We could have `releas

[2022-11-08 00:51] AkihiroSuda commented on #253
SGTM

[2022-11-08 00:54] kzys commented on #253
The `release/1.1` branch is also behind but I'm fine reviving the branch to have 1.1.0 instead of 1.2.0.

[2022-11-08 01:08] kzys commented on #253
Reusing 1.1 needs a big merge like #254.

[2022-11-08 04:47] kzys commented on #253
We may need to skip v2.x. containerd/cgroups 1.0.x is having `v2` directory. Because of that, importing `github.com/containerd/cgroups/v2` is ambiguous.

[code]

[2022-11-08 04:49] AkihiroSuda commented on #253
Let's just release v3 then 👀

[2022-11-11 19:16] kzys commented on #253
@AkihiroSuda suggested to remove release/1.1 (in https://github.com/containerd/cgroups/pull/254#issuecomment-1311965143) and @dmcgowan agreed to do so (in Slack).

So release/1.1 is re-created from the last commit before gogo -> google migration.

[2022-11-15 21:24] allfro opened #260 "Question: What is the equivalent of writing input into `devices.allow`?"
Hi there,

Apologies if this question is in the wrong place. I am trying to write a docker plugin which adds entries into devices.allow. I've successfully made it work using cgroup v1 by simply writing to the file exposed under `/sys/fs/devices/docker/<cid>/devices.allow`. However, in newer versions of Linux using cgroup v2, that option is no longer feasible. What is the equivalent in cgroup v2? H